[submodule "media_build"]
	path = media_build
	url = https://github.com/danielkucera/media_build.git
	branch = latest
	shallow = true
[submodule "media"]
	path = media
	url = https://github.com/danielkucera/linux_media.git
	branch = latest
	shallow = true
